body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: pyxidium quick;
    color: var(--main-color);
}

form {
    width: 300px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    color: #666;
}

input[type="text"],
input[type="password"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;

    background: #eeeeee;
    outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
select:focus{
    border: 2px solid var(--main-color);
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--main-color);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: var(--main-color);
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}

/* Style option for dropdown */
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 15px;
}
/*catalogue*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap')
*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
:root{
    --main-color:rgb(248, 176, 41);
    --text-color:#020102;
    --bg-color:#fff;
}
/*custom scroll bar*/
html::-webkit-scrollbar{
    width: 0.5rem;
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    border-radius: 5rem;
    background: var(--text-color);
}
section{
    padding: 4rem 0 2rem;
}

body{
    color: var(--text-color);
}
.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}
header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
header.shadow{
    background: var(--bg-color);
    box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
    transition: 0.5s ease;
}
header.shadow #search-icon{
    color: var(--text-color);
}
header  a{
    color :black;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}
.logo{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
}
 .logo span{
    color: var(--main-color);
}
.navbar{
    display: flex;
    column-gap: 2rem;
}
.navbar a{
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar a:hover,.navbar .active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
/*no*/
#user{
    font-size: 24px;
    cursor: pointer;
}
#cart{
    font-size: 24px;
    cursor: pointer;
}
#search-icon{
    font-size: 24px;
    cursor: pointer;
    
}
.search-box{
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    background: var(--bg-color);
    box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    clip-path: circle(0% at 100% 0%);
}
.search-box.active{
    clip-path: circle(144% at 100% 0%);
    transition: 0.4s;
}
.search-box input{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
}
/*home*/
.home .main .main_content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.home .main .main_content .main_text h1{
    font-size: 60px;
    line-height: 70px;
    font-family: pyxidium quick;
    background: linear-gradient(to right,#f8e538,#f78c00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    
    left: 5%;
}
.home .main .main_content .main_text h1 span{
    font-size: 60px;
    background: linear-gradient(to right,#f8e538,#f78c00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home .main .main_content .main_text p{
    width: 600px;
    text-align: justify;
    line-height: 21px;
    position: relative;
    top: 85px;
    left: 5%;
}
.home .main .main_content .main_img img{
    width: 650px;
    position: relative;
    left: 20px;
    top: 75px;
}
.home .main .social_icon{
    position: absolute;
    top: 50%;
    left: 98%;
    transform: translate(-50%,-50%);
    font-size: 19px;
}
.home .main .social_icon i{
    margin: 8px 0;
    cursor: pointer;
    transition: 0.3s;
}
.home .main .social_icon i:hover{
    color: #f78c00;
}
.home .main .button{
    position: absolute;
    left: 6%;
    padding: 10px 20px;
    border-radius: 30px;
    background: linear-gradient(to right,#f8e538,#f78c00);
}
.home .main .button a{
    color: white;
    text-decoration: none;
}
.home .main .button i{
    color: white;
    margin-left: 5px;
    transition: 0.3s;
}
.home .main .button:hover i{
    transform: translateX(6px);
}
.heading{
    text-align: center;
}
.heading span{
    font-weight: 500;
    color: var(--main-color);
}
.heading p{
    font-size: 0.938rem;
    font-weight: 300;
}
.btn{
    padding: 10px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
}
.btn:hover{
    background: #f78c00;
}
/*cars*/
.gallary{
    width: 100%;
    padding: 70px 0;
}

.cars .cars-container{
    width: 95%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}


body{
    min-height: 100vh;
    background: #ffffff;
}
.cars{
    max-width: 1000px;
    position: relative;
    width: 100%;
    margin: 150px auto;
    padding: 20px;
}
.cars .filter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.cars button{
    padding: 10px 20px;
    font-size: 18px;
    background: #fff;
    border: none;
    box-shadow: 0 5px 5px rgba(0, 0,0,.2);
    border-radius: 7px;
    cursor: pointer;
}
.cars .box .gallary_btn{
    padding: 10px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
}
.cars .box .gallary_btn:hover{
    background: #f78c00;
}
.cars button:active{
    background: #fac031;
    color: #fff;
}
.cars-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    flex-wrap: wrap;
}
.box{
    flex-basis: 300px;
    background: #fff;
    padding: 3px;
    border-radius: 8px;
}
.box img{
    width: 100%;
    height: 210px;
    object-fit: cover;
}
.box-content{
    padding: 20px;
}
.box h3{
    color: var(--main-color);
    font-size: 20px;
    margin-bottom: 0.5rem;
    font-weight: 700;
}
.box-content p{
    font-size: 18px;
}
.filter{
    display: none;
    flex-wrap: wrap;
}
.cars .filter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.cars button{
    padding: 10px 20px;
    font-size: 18px;
    background: #fff;
    border: none;
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
    border-radius: 7px;
    cursor: pointer;
}
.cars button:hover{
    background: #fac031;
    color: #fff;
}
.cars button.active{
    background: #fac031;
    color: #fff;
}
.cars .tirageprix{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}

/*review*/
.review{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
}
.review h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.review h1 span{
    margin-left: 15px;
    color: #fac031;
    font-family: mv boli;
}
.review h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #fac031;
    position: relative;
    bottom: 15px;
    display: block;
}
.review .review_box{
    width: 80%;
    margin: 70px auto;
    display: flex;
    justify-content: center;
    
}
.review .review_box .review_card{
    width: 350px;
    height: 500px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    border-radius: 8px;
    padding: 8px 20px;
    margin: 0 8px;
}
.review .review_box .review_card .review_profile{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.3s;
}
.review .review_box .review_card:hover .review_profile{
    transform: translateY(-60px);
}
.review .review_box .review_card .review_profile img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 5px solid #cccccc;
}
.review .review_box .review_card .review_text{
    text-align: center;
}
.review .review_box .review_card .review_text .name{
    color: #000;
    transition: 0.3s;
}
.review .review_box .review_card:hover .review_text .name{
    transform: translateY(-50px);
}
.review .review_box .review_card .review_text .review_icon{
    color: #fac031;
    transition: 0.3s;
}
.review .review_box .review_card:hover .review_text .review_icon{
    transform: translateY(-30px);
}
.review .review_box .review_card .review_text .review_social i{
    margin: 5px 1px;
    font-size: 15px;
    opacity: 0;
    cursor: pointer;
    transition: 0.3s;
}
.review .review_box .review_card:hover .review_text .review_social i{
    opacity: 1;
    transform: translateY(-8px);
}
.review .review_box .review_card .review_text p{
    text-align: center;
    line-height: 22px;
    transition: 0.3s;
}
.review .review_box .review_card:hover .review_text p{
    margin-top: 5px;
}



.about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
}
.about-img{
    flex: 1 1 21rem;;
}
.about-text{
    flex: 1 1 21rem;
}
.about-text span{
    font-weight: 500;
    color: var(--main-color);
}
.about-text h2{
    font-size: 1.7rem;
}
.about-text p{
    font-size: 0.938rem;
    margin: 0.5rem 0 1.4rem;
}


.parts-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}
.parts-container .box{
    flex: 1 1 17rem;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: #f6f6f6;
    border-radius: 0.5rem;
}
.parts-container .box img{
    width: 100%;
    height: 150px;
    object-fit: contain;
    object-position: center;
    margin-bottom: 1rem;
}
.parts-container .box h3{
    font-size: 1.1rem;
    font-weight: 600;
}
.parts-container .box span{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--main-color);
}
.parts-container .box .bx{
    color: var(--main-color);
    margin: 0.8rem 0;
}
.parts-container .box .btn{
    max-width: 120px;
}
.parts-container .box .details{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1.8rem;
    right: 1rem;
    font-size: 1rem;
    color: var(--text-color);
}
.parts-container .box .details:hover{
    color: var(--main-color);
    text-decoration: underline;
}
/*blog*/
.blog-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.blog-container .box:hover{
    background: #f6f6f6;
}
.blog-container .box span{
    font-size: 0.8rem;
    color: var(--main-color);
}
.blog .blog-container .box h3{
    font-size: 1.2rem;
}
.blog .blog-container .box p{
    font-size: 0.938rem;
    margin: 4px 0;
}
.blog-container .box .blog-btn{
    display: flex;
    align-items: center;
    column-gap: 4px;
    color: var(--text-color);
}
.blog-container .box .blog-btn .bx{
    font-size: 20px;
}
.blog-container .box .blog-btn:hover{
    color: var(--main-color);
    column-gap: 0.7rem;
    transition: 0.4s;
}
/*no*/
.blog .blog-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}
.blog .blog-container .box{
    flex: 1 1 13rem;
    padding: 20px;
}
.blog .blog-container .box img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    overflow: hidden;
}
.blog .blog-container .box img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}



/*footer*/
.footer{
    background: var(--text-color);
    color: #f6f6f6;
    border-top: 2px solid var(--main-color);
}
.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.footer-container .logo{
    color: var(--bg-color);
    margin-bottom: 1rem;
}
.footer-container .footer-box{
    display: flex;
    flex-direction: column;
}
.social{
    display: flex;
    align-items: center;
}
.social a{
    font-size: 24px;
    color: var(--bg-color);
    margin-right: 1rem;
}
.social a:hover{
    color: var(--main-color);
}
.footer-box h3{
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.footer-box a,.footer-box p{
    color: #818181;
    margin-bottom: 10px;
}
.footer-box a:hover{
    color: var(--main-color);
}
.copyright{
    padding: 20px;
    text-align: center;
    color: var(--bg-color);
    background: var(--text-color);
}
/*making responsive*/
@media(max-width: 1080px){
    .container{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
@media(max-width: 991px){
    .nav{
        padding: 15px 20px;
    }
    section{
        padding: 3rem 0 1rem;
    }
    .home-text{
        padding-left: 2rem;
    }
    .home-text h1{
        font-size: 2.1rem;
    }
}
@media(max-width:920px){
    #search-icon{
        color: var(--text-color);
    }
}
@media(max-width:768px){
    .search-box input{
        padding: 15px;
    }
    .nav{
        padding: 10px 0;
    }
    #menu-icon{
        display: initial;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        row-gap: 0.5rem;
        text-align: center;
        box-shadow: 4px 4px 20px rgb(15 54 55 / 20%);
        clip-path: circle(0% at 0% 0%);
        transition: 0.6s;
    }
    .navbar a{
        display: block;
        padding: 15px;
    }
    .navbar a:hover ,.navbar .active{
        border-bottom: none;
        background: var(--main-color);
        color: var(--bg-color);
    }
    .navbar .active{
        clip-path: circle(144% at 0% 0%);
    }
    .blog-container .box{
        padding: 4px;
    }
}
@media(max-width:727px){
    .heading span{
        font-size: 0.9rem;
    }
    .heading h2{
        font-size: 1.4rem;
    }
    .about{
        flex-direction: column-reverse;
    }
    .about-text{
        text-align: center;
    }
    .about-text h2{
        font-size: 1.4rem;
    }
}
@media(max-width:607px){
    .footer-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width:360px){
    .search-box input{
        padding: 11px;
    }
    .home{
        min-height: 500px;
    }
    .home-text h1{
        font-size: 2rem;
    }
    .home-text p br{
        display: contents;
    }
} 
/*confirmation*/
.container .title{
    color: var(--main-color);
    font-size: 20px;
    margin-bottom: 0.5rem;
    font-weight: 700;
    text-align: center;
    font-family: pyxidium quick;
}
/*panier*/
.cartTab{
    width: 600px;
    color: #ccc;
    position: fixed;
    bottom: 0;
    top: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.cartTab .btn button{
    background-color: #f7b612;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .btn .close{
    background-color: #ccc;
}
.cartTab .listCart .item img{
    width: 140%;
}
.cartTab .listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #ccc;
    color:#555 ;
    border-radius: 50%;
    cursor: pointer;
}
.listCart .quantityspan:nth-child(2){
    background-color: transparent;
    color: #eee;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}
.container #endform{
    width: 550px;
    margin-top: 50px;
}
.cars #viewcart{
    background-color: var(--main-color);
    font-size: 20px;
    line-height: 70px;
    font-family: pyxidium quick;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 909px;
    padding: 0px;
    margin: 10px auto;
}
.cartitems a{
    font-size: 25px;
    font-family: pixidium quick;
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.cartitems #cart-items img{
    width: 60px;
    height: 60px;
}
#cartform{
    width: 390px;
}
#cartform .cartitems #catalogueBtn{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--main-color);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}